{{ sesja.ses_number }}
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Game</title>
        <!--<link rel="stylesheet" href="game/index_style.css"/>-->
        <link rel="stylesheet" type="text/css" href="{% static 'game/index_style.css' %}">
        <script type="text/javascript" src="https://unpkg.com/tesseract.js@v2.0.0-beta.1/dist/tesseract.min.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <h1><a class="navbar-brand" href="">Alkotest</a></h1>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mr-0 ml-lg-auto">
                            <a href=""><img src="{% static 'game/logo.png' %}"/></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="jumbotron">
                <h2>Sesja nr: {{ sesja.ses_number }}</h2>
                <form class="form-inline" method="GET">
                        <div class="input-group-addon">Invite</div>
                    <button id="invite" type="submit" class="btn btn-primary">Send Invite</button>
                </form>
            </div>
        </div>
        <div class="container">
          <div class="jumbotron">
            <ol>
            {% for gracze in sesja.gracze_set.all %}
              <li>{{ gracze.g_nick }}  {{ gracze.score }} %%%</li>
            {% endfor %}
            </ol>
          </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <h3>Add your score</h3>
                <br/>
                <!--<form class="form-inline" method="GET">-->
                        <!--<div class="input-group-addon">Add</div>-->
                    <button id="manual" class="btn btn-primary">Add Score</button>
                    <button id="autos" type="submit" class="btn btn-primary">Take Photo</button>
                <!--</form>-->
            </div>
        </div>
        <div class="container" id="unhid" unvisible>
          <div class="jumbotron">
            <form class"form-inline" method="POST" action="">
              {% csrf_token %}
              <input type="text" name="g_nickk"size=20 class="form-control" placeholder="Nick"/>
              <input type="number" name="scoree" size=20 class="form-control" placeholder="Score"/>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
        <div id="cameraScore" class="container" unvisible>
          <video id="player" autoplay></video>
          <button id="capture">Capture</button>
          <canvas id="snapshot" width="320" height="240"></canvas>
          <textarea id="result" style="width:640px;height:240px;"></textarea>


          <div class="jumbotron">
            <form class"form-inline" method="POST" action="">
              {% csrf_token %}
              <input type="text" name="g_nickk"size=20 class="form-control" placeholder="Nick"/>
              <input id="photoin" type="number" name="scoree" size=20 class="form-control" placeholder="Score"/>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
    </body>

    <script>
      document.getElementById("unhid").style.visibility = "hidden";
      function geturl() {
        alert("Invite: ", + window.location.href);
      }

      function addManualScore() {
        document.getElementById("unhid").style.visibility = "visible";
      }

      var b = document.getElementById("invite");
      b.addEventListener('click', geturl, false);
      var c = document.getElementById("manual");
      document.getElementById("unhid").style.visibility = "hidden";
      c.addEventListener('click', addManualScore, false);

      const player = document.getElementById('player')
      const snapshotZone = document.getElementById('snapshot')
      const captureButton = document.getElementById('capture')
      const result = document.getElementById('result')

      const phin = document.getElementById('photoin')

      function addCameraScore() {
        navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
          player.srcObject = stream
        })

        captureButton.addEventListener('click', function() {
          const context = snapshot.getContext('2d')
          context.drawImage(player, 0, 0, snapshotZone.width, snapshotZone.height)
          // Tesseract.recognize(snapshotZone, 'jpn', { logger: m => console.log(m) }) // 日本語
          Tesseract.recognize(snapshotZone, 'eng', { logger: m => console.log(m) }) // 英語
          .then(({ data: { text } }) => {
            result.value = text
            phin.value = text
          })
        })
      }
      var d = document.getElementById("autos");
      function addPhotoScore() {
        document.getElementById("cameraScore").style.visibility = "visible";
        addCameraScore();
        window.scrollTo(0,window.scrollY+window.innerHeight*.9);
      }
      d.addEventListener('click', addPhotoScore, false);
    </script>

</html>
